
.App {
 display: flex;
  padding: 20px;
  /*background-color: #0eb2b2;*/
  margin-right: 50px;

}

.App > div {
  margin-right: 50px;
}



.is-done {
  opacity: 0.5;
}
.backgroundIMG {
    display: flex;
    padding: 20px;
    grid-template-columns:4fr 10fr;
    width: 2480px;
    height: 1025px;
    background-image: url("https://kartinki.pics/pics/uploads/posts/2022-08/1660703023_1-kartinkin-net-p-fon-sotsseti-krasivo-1.jpg");
}
