.deleteButton {
   background-color: #ff4d4d; /* Красный цвет кнопки */
   color: #fff; /* Белый цвет текста на кнопке */
   border: none; /* Убираем границы */
   padding: 5px 10px; /* Подбираем отступы */
   cursor: pointer; /* Изменяем курсор при наведении */
   border-radius: 5px; /* Делаем закругленные углы */
   font-size: 12px; /* Устанавливаем размер шрифта */
}
.deleteButton:hover {
   background-color: #5e83e0;
   color: black;
   border: 3px solid #4c89af;
}

/* Добавьте другие стили, какие вам нужны, например, hover-эффекты и т. д. */

.buttonContainer{
   padding-left: 2px;
}
.userMassage{
   color: red;
}
/*.todoCardWrapper {
   text-align: right; !* Выравниваем содержимое по правому краю *!
}*/
.inputContainer {
   margin-bottom: 10px; /* Пример отступа между вводом и кнопкой */
}
.taskList {
   list-style: none; /* Убираем маркеры списка */
   padding-left: 14px; /* Убираем отступы внутри списка */
}
/* todolist.module.css */
.error{
   border: red 1.2px solid;
}
.errorMessage{
   color: red;
}
.activeFilter{
   background-color: aquamarine;
}
.todoButton {
   background-color: #4caf50;
   color: white;
   border: none;
   padding: 5px 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   transition-duration: 0.4s;
   cursor: pointer;
}

.todoButton:hover {
   background-color: #5e83e0;
   color: black;
   border: 3px solid #4c89af;
}
.task{
   font-weight: bold;
}
.taskDone{
   text-decoration: line-through;
   opacity:0.5 ;
}
